nav.navbar.navbar-inverse.navbar-fixed-top
    .container
        .navbar-header
            button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
                span.sr-only Toggle navigation
            a.navbar-brand(href='https://github.com/glendasp/Project3-Ecommerce') Final Project
        #navbar.navbar-collapse.collapse

            form.navbar-form.navbar-right(method='post' action='/login' )
                .form-group
                    input.form-control(type='text', placeholder='Email')
                .form-group
                    input.form-control(type='password', placeholder='Password')
                button.btn.btn-success(type='submit') Log in


            form.navbar-form.navbar-right(method='get' action='/signup')
                .form-group
                input.btn.btn-success(type='submit'  value='Click here to Signup')

        .navbar-collapsese
