extends layout
block content

        //too complicated! display data about one thing.
        // category, color, price.
        // Add to cart button
        /// Add to cart button can be part of a form. The form needs to identify the item that's being added to the cart.
        // so in the form, you need to add a hidden field with the _id of the prodct
        // which will then be available to your post route in req.body.

    h1 #{name}
    p #{productlist}

    ul
        for product in productlist
            li
                is #{product.name}

